@media (max-width: 600px)
{

html {
    /*background: #000;*/
    overflow-x: hidden;
}

body {
    overflow-x: hidden;
}

/*Cabeçalho*/

header {
    height: 55rem;  
    margin-top: 0;  
}

.btn-entrar {
    display: block;
    background: transparent;  
    margin-top: -2.4rem;
    padding: 0.5rem;
    margin-left: 65%;
    margin-right: 15%;
}

.icone-login {
    height: 25px;
    width: 25px;
    position: relative;
    display: block;
    margin-top: -2rem;
    margin-left: 58%;
}

#btn-menu-mobile {
    display: flex; 
    padding: 0.5rem 0;
    float: right;    
    border: none;
    cursor: pointer;
    gap: .5rem;   
    background-color: transparent;  
    color:#F2F5F9;         
}

#menu-mobile {
    padding: 2rem;    
}

#hamburger { 
    display: block;
    border-top: 2px solid;   
    color: #F2F5F9;   
    float: right;     
}

#hamburger::after, #hamburger::before {
    content:'';
    display: block;
    width: 20px;
    height: 2px;
    background: currentColor; /*Pegar a cor definida no id*/
    margin-top: 5px;   
    transition: .3s; 
    position: relative;    
}

#nav.active #hamburger {
    border-top-color: transparent;       
}

#nav.active #hamburger::before {
    transform: rotate(135deg)
}

#nav.active #hamburger::after {
    transform: rotate(-135deg);
    top: -7px;
}

#menu {
    display: block;    
    position: absolute;
    width: 100%;        
    right:0;   
    background: #F2F5F9;
    color: #1D242F;
    height: 0;    
    z-index: 1000;
    transition: 0.6s;
    visibility: hidden;
    overflow-y: hidden;
}

#nav.active #menu {      
    height: 40%;
    visibility: visible;
    overflow-y: auto;
}

#menu a{
    padding: 0.5rem 0;
    margin: 0 1rem;
}

.logo {
    margin-left: 2rem;
}


.video-explicativo h1 {
    width: 12rem;
    font-size: 24px;
}

.video-explicativo p {
    width: 12rem;
}

.video-explicativo input {
    width: 85%;
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

.btn-fazer-parte {
    width: 90%;    
    margin-top: 0.5rem;
    display: flex;    
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
    align-items: center;  
}

iframe {
    display: flex;
    float: none;
    width: 300px;
    margin-top: 2rem;
    margin-left: auto;
    margin-right: auto;
    justify-content: center;
}

/*Vantagens*/

.vantagens {
    margin: 0;
    padding: 2rem;
}
.primeiro-p {
    margin-top: 0;
    margin-left: 0;
}

.vantagens h1 {
    font-size: 24px;
}

.segundo-p {
    margin-bottom: 2rem;
}
.vantagens-exclusivas {
    margin: 0;
}

.vantagens-exclusivas h1 {
    width: 100%;
    margin-left: auto;
    margin-right: auto; 
    font-size: 24px;
}

.vantagens-exclusivas img {
    margin-top: 0;     
    height: 15rem;
    width: 10rem; 
    margin-left: 20%;
}

.vantagens-icones img {
    margin-top: 1rem;
}

.vantagens-icones {
    display: flex;
    flex-direction: column;
    justify-self: flex-end;
    width: 100%;
    position: relative;
    margin: 0;
    padding: 0;
    margin-bottom: 28rem;    
}

/*Prêmios*/

.premios {
    width: 100%;
    height: 35rem;
}

.premios img {
    height: 15rem;
    width: 15rem;
    margin: 0 auto;
    margin-top: -18rem;
    
}

.indicacao {
    position: absolute;   
    left: 50%;
    transform: translate(-50%, -50%);
    margin-top: 23rem;    
    width: 20rem;
}

.indicacao h1 {    
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 24px;
}

.indicacao .p1 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

.indicacao .p2 {
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 14px;
}

/*Explorar*/

.explorar {
    padding: 2rem;
    margin-left: 0;    
}

.explorar h1 {
    margin-top: 0;    
    padding: 0;
    font-size: 24px;
}

.explorar p {
    margin-bottom: 0;
}

.btn-explorar
{   margin-top: 0.5rem;
    margin-bottom: 2rem;
    max-width: 17.8rem;
}

.explorar input {   
    margin-left: 0;
    margin-right: auto; 
    width: 90%;   
}

.exibir {
    font-size: 16px;
    margin-top: 2rem;
    width: 100%;
    margin-right: 50%;
}
/*Categorias*/

.categorias {
    margin-top: 0;
    margin-bottom: 22rem;   
    margin-left: 0;
    padding: 2rem;  
    columns: 2;  
}

.categorias h2 {
    font-size: 15px;
}

.colunas-categorias ul {
    columns: 2;
    margin-left: 0;
    column-gap: 0;
}
.colunas-cat2, .colunas-cat3, .colunas-cat4 {
    margin-bottom: 15rem;    
    padding: 0; 
}
.colunas-cat2 {
    margin-top: 2rem;
    margin-left: 0;
}

.colunas-cat3 {
    margin-top: -20rem;
    margin-left: 0;    
}

.colunas-cat4 {
    margin-top: -50rem;    
    margin-left: 9rem;    
}

.footer-links {
    margin-left: 0;
    padding: 2rem;  
    font-size: 10px;   
}

.img-links {
    margin-bottom: 1rem;
}

footer a {
    margin-right: 0;
    margin-bottom: 1rem;
}

.copy {
    width: 50%;
}
.separador {
    padding: 0;
}

.footer-links-inf {
    margin-left: auto;
    padding: 2rem;      
}

.footer-inf {
    height: 0;
}

}